<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Bungee+Inline" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bungee+Inline|Bungee+Shade" rel="stylesheet">

<head>
<style>
* {
  box-sizing: border-box;
}
html, body, {
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
      object-fit: cover;
      background-color:#2f432f;

}
footer{
  background:black;
  position:relative;
  top:70px;
  height:50px;
  color:white;
}
.grid-container {
  display: grid;
  width:100%;
  grid-template-columns: repeat(auto-fill, minmax(230px, 5fr));

  padding:0px;
  grid-gap:20px;
  position:relative;
  top:60px;
  left:10px;
  

}
.grid-item {
  padding: 20px;
  height:250px;
  font-size: 30px;
  text-align: center;
  border:1px solid black;
position:relative;
background:;


}

   h1
   {
    color:black;
    opacity:0.7;
    text-decoration:none;
    padding:50px;
    font-size:25px;
    position:relative;
    top:-10px;
text-align:center;    

  }
  img:hover {
  opacity: 0.5;
  filter: alpha(opacity=50);
  }
  header{
    height:auto;
    width:100%;
    position:relative;
    top:-30px;
  }
  a
  {
    border:3px 2px solid gray;
    color:black;
  }
</style>
</head>
<body style="background-color:white;">

<header><h1>All Movie In Rwanda</h1></header>
<form class="form-inline my-2 my-lg-0">
<input class="form-control mr-sm-2" type="search" placeholder="search">
<button class="btn btn-outline-succes my-2 my-sm-0" type="submit">search</button>
</form>

<%= link_to "Add movie", new_resume_path, style: "color:blue; fontsize:18px;font-weight:bold;"  %>
<div class="grid-container">
<% @resumes.each do |resume| %>
  <div class="grid-item"><img src="<%= resume.attachment %>" style="width:100%;height:80%;padding:20px"/> <p class="card-text" style="color:green;">Title:<b><%= resume.title %></b><br>
              
<%= link_to 'Edit|', edit_resume_path(resume) ,style:"text-decoration:none;" %>
<%= link_to 'View|', resume ,style:"text-decoration:none;" %>
<%= link_to 'Destroy', resume, method: :delete, data: { confirm: 'Are you sure?' } ,style:"text-decoration:none;" %>
</div>
  <% end %>  
</div>
<footer>
  <center><p>all right reserved by unirwanda@2019.</p></center>
</footer>
</body>
</html>