<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @resume.title %>
</p>

<p>
  <strong>Category:</strong>
  <%= @resume.category %>
</p>

<p>
  <strong>Price:</strong>
  <%= @resume.price %>
</p>

<p>
  <strong>Year:</strong>
  <%= @resume.year %>
</p>

<p>
  <strong>Attachment:</strong>
  <img src="<%= @resume.attachment %>">
</p>

<%= link_to 'Edit', edit_resume_path(@resume) %> |
<%= link_to 'Back', resumes_path %>
